body {
  font-family: Arial, Helvetica, sans-serif
}

#entry-field{
  font-family: Arial, Helvetica, sans-serif;
}

img {

  height: 700px;
  width: 700px;
  }

#trail-search-results {
  text-align: justify;
}

#trail-images {
transform: scale(0.75);
border: 2px solid black;
}

/* Navigation Bar */

#nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#nav {
  float: left;

}

#nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* All national parks page layout */

.parent {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  margin: auto;

}

#national-parks-images {
  height: 300px;
  width: 300px;
  border: 2px solid black;
  margin: 0px 10px 30px 20px;
}

.child {
  text-align: center;
}

.twitter-timeline {
  text-align: center;
}

li {
  display: inline-block
}

  .map,
  #map {
  width: 700px;
  height: 500px;
}

#np_name {
    font-weight: bold;
}

.add-bolding {
    font-weight: bold;
}