<!DOCTYPE html>
<html lang="en">
<head>
      {% extends 'base.html' %}

      {% block title %}View all National Parks{% endblock %}

  <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>

  {% block body %}

  

  <h1>All National Parks</h1>


  {% if session.get('user_email') %}
  <ul>
    <form action="search-park" method="POST">
      <select id="search" name="search">
          
          {% for national_park in national_parks %}

              <option>{{ national_park.np_name }}

          {% endfor %}
        
      </select>
      
    <input type="submit" value="Search">
      {% endif %}
   </form>
  </ul>

  <div class="parent">
    {% for national_park in national_parks %}

    <div class="child">
      <p>
        <a href="/national-parks/{{ national_park.np_id }}">
        {{ national_park.np_name }} 
      </p>

      <p>
        <img id="national-parks-images" 
        src="{{ national_park.image_url }}">
      </p>

    </div>
    {% endfor %}

  </div>
  
  {% endblock %}

</body>
</html>
