  {% extends 'base.html' %}

  {% block title %}View all National Parks{% endblock %}

  {% block body %}

  
<div id="np-search">
  <h1>All National Parks</h1>

  <p>Let's hit the hiking trails. Where should we head to next?</p>
  <br>

  {% if session.get('user_email') %}
    <ul>
      <form action="search-park" method="POST">
        <select id="search" class="form-select w-auto" name="search">
          
          {% for national_park in national_parks %}
            <div id="id-select">
              <option>{{ national_park.np_name }}
            </div>
          {% endfor %}
        </select>
        <br>
        <button type="submit" class="btn btn-light">Search</button>
      {% endif %}
      </form>
  </ul>
</div>

<div id="all_national_parks">
  <div class="parent">
    {% for national_park in national_parks %}

    <div class="child">
      <p>
        <a href="/national-parks/{{ national_park.np_id }}">
        {{ national_park.np_name }} 
      </p>

      <p>
        <img id="national-parks-images" 
        src="{{ national_park.image_url }}">
      </p>
    </div>

    {% endfor %}
    </div>
</div>
{% endblock %}
