<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/styles.css">

    <title>
      {% block title %}{% endblock %}
    </title>

    {% block head %}{% endblock %}
  </head>
  <body>


    <ul id="nav-list">

    <div id="navigation-bar">
    <li id="nav"><a href="/">Home</a></li>
    <li id="nav"><a href="/national-parks">National Parks</a></li>
    <li id="nav"><a href="/user_profile">Profile</a></li>  
    <li id="nav"><a href="/nps-tweets">NPS Tweets</a></li>  
    <li id="nav"><a href="/logout">Logout</a></li>
    </div>

    </ul>

    {% for msg in get_flashed_messages() %}
    <p class="flash-msg">
      {{ msg }}
    </p>
    
  {% endfor %}
  {% block body %}{% endblock %}

  {% block after_body %}{% endblock %}
  </body>
</html>

