<!DOCTYPE html>
<html lang="en">
  <style>
  img {
    height: 500px;
    width: 500px;
  }
  body {
    background-image: url("/static/img/hurricane-ridge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}
  </style>
{% extends 'base.html' %}
{% block title %}{% endblock %}


<head>
    <title>Happy Trails</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
  {% block body %}
    <h2>Welcome to Happy Trails! &#129406; </h2>

    <h3>Register</h3>
    <form action="/users" method="POST">
      <p>
        First name <input type="text" name="first_name">
      </p>
  
      <p>
        Last name <input type="text" name="last_name">
      </p>
  
      <p>
        Email <input type="text" name="email">
      </p>
  
      <p>
        Password <input type="password" name="password">
      </p>
  
      <p>
        <input type="submit">
      </p>
    </form>


    <h3>Log In</h3>
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>
      <p>
        Password <input type="password" name="password">
      </p>
      <p>
        <input type="submit">
      </p>
    </form>

</body>
{% endblock %}
</html>