<!DOCTYPE html>
<html lang="en">
<head>
      {% extends 'base.html' %}

      {% block title %}Login{% endblock %}
  
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

  {% block body %}

  <h3>Log In</h3>
  <form action="/login" method="POST">
    <p>
      Email <input type="text" name="email">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>

  <h3>Register</h3>
  <form action="/users" method="POST">
    <p>
      First name <input type="text" name="first_name">
    </p>

    <p>
      Last name <input type="text" name="last_name">
    </p>

    <p>
      Email <input type="text" name="email">
    </p>

    <p>
      Password <input type="password" name="password">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>

  {% endblock %}
</body>
</html>