{% extends 'base.html' %}

{% block title %}{{ national_park.np_name }} - Details{% endblock %}

{% block body %}

<section id="national-park-details">
    <h1>{{ national_park.np_name }}</h1>

      <p>
          {{ national_park.description }}
      </p>

      <div>
        <input type="button" onclick="window.location.href='/national-parks/trails?parkCode={{ national_park.park_code }}';" 
        value="Find hiking trails" class="btn btn-light"/>
      </div> 

      <br>
      
      <div id="fav-parks">
            {% if session.get('user_email') %}

            <form action="/national-parks/{{ national_park.np_id }}/favorite-parks" method="POST">

              <button type="submit" id="add-park" class="btn btn-light">Save park</button>

            </form>
            {% endif %}
      </div>

<br>

    <div id="np-carousel" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#np-carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#np-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#np-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#np-carousel" data-bs-slide-to="3" aria-label="Slide 4"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{ np_images[0] }}" class="d-block w-100" alt="{{ national_park.np_name}} img-1">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ national_park.np_name }}</h5>
            <p>{{ np_image_captions[0] }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ np_images[1] }}" class="d-block w-100" alt="{{ national_park.np_name}} img-2">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ national_park.np_name }}</h5>
            <p>{{ np_image_captions[1] }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ np_images[2] }}" class="d-block w-100" alt="{{ national_park.np_name}} img-3">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ national_park.np_name }}</h5>
            <p>{{ np_image_captions[2] }}</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="{{ np_images[3] }}" class="d-block w-100" alt="{{ national_park.np_name}} img-4">
          <div class="carousel-caption d-none d-md-block">
            <h5>{{ national_park.np_name }}</h5>
            <p>{{ np_image_captions[3] }}</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#np-carousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#np-carousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </section> 

  {% endblock %}
