
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/static/styles.css">

</head>
<body>
  {% extends 'base.html' %}
  {% block title %}{{ national_park.np_name }} - Details{% endblock %}
  {% block body %}

<h1>{{ national_park.np_name }}</h1>

<p>
  {{ national_park.description }}
</p>
<p>
  <button type="button" onclick="window.location.href='/national-parks/trails?parkCode={{ national_park.park_code }}';">Find hiking trails</button>
</p>

<img id="national-parks-images"
  src="{{ national_park.image_url }}" alt="">

<!-- <p>
  <a href="/national-parks/trails?parkCode={{ national_park.park_code }}">Find hiking trails</a>
</p> -->

<section id="fav-parks">
  {% if session.get('user_email') %}

<form action="/national-parks/{{ national_park.np_id }}/favorite-parks" method="POST">

 <input id="add-park" type="submit" value="Add park">
 <input id="remove-park" type="submit" value="Remove park">

</form>
{% endif %}
</section>

  {% endblock %}

<script src="/static/js/addFavorites.js"></script>
</body>
</html>
