<!DOCTYPE html>
<html lang="en">
<head>
        {% extends 'base.html' %}

        {% block title %}{% endblock %}

    <link rel="stylesheet" href="/static/styles.css">
</head>
</head>
</head>
<body>
    {% block body %}

    <div align="center"><a class="twitter-timeline" data-width="500" data-height="" href="https://twitter.com/NatlParkService?ref_src=twsrc%5Etfw"></a> 
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    
    {% endblock %}
</body>
</html>