<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% block title %} {{ user.first_name }}'s Profile {% endblock %}
    <link rel="stylesheet" href="/static/css/styles.css">

</head>
<body>
    {% block body %}

    <h1>Welcome back, {{ user.first_name }}</h1>
    <h3>Visited parks</h3>
    <ul class="map">
        <div id="map"></div>
    </ul>

    <p>
        {% for park in user.favorite_parks %}
        <ul>
            <li> {{ park.np_name }} </li>
        </ul>
        {% endfor %} 

    </p>


        <h3>Park memories</h3>
        {% if session.get('user_email') %}
    <ul>
        <form id="journal-entry-form">
            <p><label>Select a park you'd like to record a memory from</label></p>
            <select id="np-field" name="np">
                {% for park in user.favorite_parks %}
                <option>{{ park.np_name }}</option>
                {% endfor %}
            </select>
            <p>
            <textarea id="entry-field" name="park_entry" rows="4" cols="50"></textarea>
            <br>
            <input type="submit" value="Save">
            </p>
        </form>   
        {% endif %}
    </ul>


    <div id="entries">
        {% for item in user.user_entries %}
        <ul>
        <li id="np_name"> {{item.np }} </li>
        <li> {{item.entry}} </li>
        </ul>
        {% endfor %} 

    </div>

    <h3>Favorite trails</h3>

    <p id="fav-trails-list">
        {% for park in user.favorite_trails %}
        <ul>
            {{ park.trail_name }} 
        </ul>

        <ul>
            {{ park.trail_description }}
        </ul>
        {% endfor %} 

    </p>

    <script src="/static/js/addFavorites.js"></script>
    <script src="/static/js/favNpMap.js"></script>
    <script src="/static/js/addEntries.js"></script>
    <script
      async
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcKtg0mmP8bMGMF1OH-DELsrGF7ET0dMs&callback=initMap">
    </script>

    {% endblock %}
</body>

</html>